apiVersion: v1
kind: ConfigMap
metadata:
  name: otelcol-bench-collector-config
  namespace: ${NAMESPACE}
data:
  config.yaml: |
    receivers:
      filelog:
        include:
          - /var/log/pods/${NAMESPACE}_log-emitter-*/*/*.log
        start_at: beginning
        include_file_path: true
        operators:
          - id: container-parser
            type: container

    processors:
      transform/bench:
        log_statements:
          - context: log
            statements:
              - merge_maps(attributes, ParseJSON(body), "upsert") where IsMatch(body, "^\\{")
      batch:
        send_batch_size: 1024
        timeout: 200ms

    exporters:
      otlphttp:
        endpoint: http://logfwd-capture.${NAMESPACE}.svc.cluster.local:4318
        compression: none

    extensions:
      health_check:
        endpoint: 0.0.0.0:13133

    service:
      telemetry:
        logs:
          level: error
        metrics:
          level: detailed
          readers:
            - pull:
                exporter:
                  prometheus:
                    host: 0.0.0.0
                    port: 8888
      extensions: [health_check]
      pipelines:
        logs:
          receivers: [filelog]
          processors: [transform/bench, batch]
          exporters: [otlphttp]
